@font-face {
   font-family: 'Abril Fatface';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/pc/Documents/GitHub/osakenyaproject.github.io/fonts/Abril Fatface/regular.ttf') format('truetype');
}
